/**
 * @package SimplePortal
 *
 * @author SimplePortal Team
 * @copyright 2014 SimplePortal Team
 * @license BSD 3-clause
 *
 * @version 2.4
 */

.sp_table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.sp_middle {
	vertical-align: middle;
}
.sp_top {
	vertical-align: top;
}
.sp_auto_align {
	margin: 0 auto;
}
.sp_regular_padding {
	padding: 5px;
}
.sp_content {
	padding: 0 0.4em;
}
#sp_credits {
    border-radius: 7px;
    box-shadow: none;
    padding: 0 8px 16px;
}
.sp_fullwidth {
	width: 100%;
}
.sp_page_index {
	float: right;
	padding-right: 1em;
}
.sp_side_clear {
	clear: both;
	line-height: 0.7em;
}
.sp_drag_header {
	cursor: move;
}

.sp_list {
	list-style-type: none;
	text-align: left;
	padding: 0 0 0 2px;
	line-height: 1.5em;
	margin: 0;
}
.sp_list_indent {
	padding: 0 0 0 10px;
}
.sp_list_top {
	padding-top: 5px;
}
.sp_list_bottom {
	padding-bottom: 5px;
	border-bottom: 1px dashed #AAA;
}
.sp_list_divider {
	border-bottom: 1px solid #DDD;
	padding: 8px 0;
}

.sp_online_flow {
	max-height: 150px;
	height: auto !important;
	height: 150px;
	overflow: auto;
}
.sp_rss_flow {
	max-height: 300px;
	height: auto !important;
	height: 300px;
	overflow: auto;
}
.sp_top_poster, .sp_staff, .sp_blog, .sp_articles {
	width: 45px;
}
.sp_staff_info {
	padding: 7px 0;
	vertical-align: bottom;
}
.sp_staff_divider {
	border-bottom: 1px dashed #AAA;
}
.sp_recent_icon {
	vertical-align: middle;
	width: 5%;
}
.sp_recent_subject {
	width: 60%;
}
.sp_recent_info {
	width: 35%;
}
.sp_image {
	text-align: center;
	line-height: 1.4em;
	padding: 5px;
	min-width: 150px;
	min-height: 225px;
	border: 1px solid #ccc;
	white-space: nowrap;
}
.sp_image_topic {
	overflow: hidden;
	max-width: 150px;
	text-overflow: ellipsis;
	white-space: pre;
	font-style: italic;
}
.sp_image a img {
	max-width: 125px;
	max-height: 125px;
	display: block;
	margin: auto;
}
.sp_search {
	width: 95%;
}
.sp_acalendar {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	text-align: center;
}
.sp_acalendar_day {
	height: 20px;
	padding: 2px;
	text-align: center;
	vertical-align: top;
}
table.sp_blog, table.sp_articles, .sp_shop_info {
	line-height: 1.7em;
}
.sp_blog_title, .sp_articles_title, .sp_articles_row {
	border-bottom: 1px dashed #AAA;
}

#sp_menu {
	width: 150px;
}
#sp_menu a {
	margin: 0;
	line-height: 1.7em;
}
#sp_menu li {
	position: relative;
}
#sp_menu li ul {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #AAA;
	left: 75px;
	top: 5px;
	z-index: 90;
	width: 18.4em;
}
#sp_menu ul {
	display: none;
}
#sp_menu li:hover ul  {
	display: block;
}
#sp_menu a .pm_indicator {
	font-size: 0.643em;
}
#sp_menu a .avatar {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.sp_article_icon {
	margin: 5px 10px 0 0;
}
.sp_article_content {
	margin: 0.5em 0;
}
.sp_article_detail h4 {
	line-height: 35px;
	font-size: 1.3em;
}
.sp_article_detail .avatar {
	max-height: 40px;
	float: left;
	margin-right: 0.5em;
}
.sp_article_detail, .sp_comment_detail {
	overflow: auto;
}
.sp_article_extra {
	text-align: right;
}
.sp_comment_detail .avatar {
	max-height: 25px;
	float: left;
	margin-right: 0.5em;
}
.sp_comment_detail span {
	line-height: 25px;
}
#sp_main {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 2em;
}
#sp_left_div {
	padding-right: .5em;
}
#sp_right_div {
	padding-left: .5em;
}
#sp_bottom_div {
	margin-top: -1.5em;
}
#sp_header, #sp_footer {
	vertical-align: top;
	margin: 0 0.4em;
}
#sp_left, #sp_right, #sp_center {
	vertical-align: top;
}
div.sp_block {
	padding: 0 0.5em;
}
.sp_block_container {
	overflow: auto;
	padding: 0 2px;
}
.sp_block_container h3 {
	font-size: 1.214em;
}
table.sp_block {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.sp_block_padding {
	padding: 5px;
}
.sp_block_active {
	color: green;
}
.sp_block_section, .sp_block_section_last {
	background: transparent;
	margin: 2px 0 .7em 0;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	box-shadow: 4px 6px 3px -5px rgba(0,0,0,0.5);
	overflow: auto;
}
.portalbg {
	padding: 10px 0;
}
.portalbg2 {
	padding: 10px 0;
}

body {
	min-width: 750px;
}

.shoutbox_container {
	width: 100%;
	font-size: small;
}
.shoutbox_padding {
	padding: 5px;
}
.shoutbox_body {
	text-align: left;
	padding: 0;
}
.shoutbox_list_compact {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: 200px;
}
.shoutbox_list_compact li {
	padding: 4px 0 4px 4px;
	border-bottom: 1px dashed #CCCCCC;
	border-left: 3px solid #DADADA;
}
.shoutbox_list_all {
	margin: 0;
	padding: 0;
	list-style: none;
}
.shoutbox_list_all li {
	padding: 4px 0 0 4px;
	border-left: 3px solid #DADADA;
}
.shoutbox_time {
	border-bottom: 1px dashed #CCCCCC;
	color: #777;
}
.shoutbox_time {
	color: #777;
	padding-left: 5px;
}
.shoutbox_delete {
	float: right;
	padding-right: 3px;
}
.shoutbox_page_index {
	padding: 2px 0 3px 2px;
	line-height: 1.8em;
	text-align: center;
}
.shoutbox_input {
	width: 65%;
}
.shoutbox_warning {
	border-left: 3px solid #F66;
	border-bottom: none;
	background: #FDD;
	color: #FF0000;
}
.shoutbox_me {
	font-weight: bold;
	color: #FF0000;
}


#sp_view_categories h4 {
	font-size: 1.1em;
}
#sp_index p, #sp_view_categories p, #sp_view_articles p, #sp_view_category p {
	margin: 0.5em 0;
}
#sp_index span, #sp_view_categories span, #sp_view_articles span, #sp_view_category span, #sp_view_article span {
	font-size: 0.9em;
}

#sp_admin_main {
	overflow: auto;
	margin: 1em 0;
}
#sp_live_info {
	width: 65%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#sp_general_info {
	width: 35%;
	padding-left: 6px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#sp_general_info div.windowbg {
	padding: 0 0.8em;
}
#spAnnouncements {
	overflow: auto;
	padding: 0 4px;
}
#sp_live_info div.sp_content_padding, #sp_general_info div.sp_content_padding {
	height: 18ex;
}
#sp_credits p {
	margin: 0;
	padding: 0.5em 0;
}
.sp_content_padding {
	padding: 0 .8em;
}
#sp_manage_blocks .table_grid {
	margin-bottom: 0.8em;
}
#sp_select_block_type .reset
{
	margin: 2px 0;
	overflow: auto;
}
#sp_select_block_type .windowbg {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 2px 0.166%;
	padding: 10px 10px 4px 10px;
	height: 7em;
	width: 33%;
	float: left;
	overflow: auto;
}
#sp_select_block_type .windowbg label:hover {
	text-decoration: underline;
	cursor: pointer;
}
#sp_select_block_type .smalltext {
	margin: 6px;
}
#sp_select_block_type .windowbg2 {
	width: 99.66%;
	margin: 2px 0.166%;
	padding: 8px 0;
	float: left;
	text-align: center;
}
#sp_edit_block {
	margin: 0 auto;
}
#sp_edit_block #sp_display_advanced {
	padding-top: 0.6em;
	line-height: 2em;
}
#sp_edit_block .sp_display_list {
	overflow: hidden;
	margin: 0;
}
#sp_edit_block .sp_display_list li {
	float: left;
	width: 50%;
}
#sp_edit_block #boards {
	height: auto;
}

#sp_manage_articles table.table_grid {
	margin: 0.4em 0;
}
#sp_edit_article {
	margin: 0 auto;
}

#sp_manage_categories table.table_grid {
	margin: 0.4em 0;
}
#sp_edit_category {
	margin: 0 auto;
}

#sp_manage_pages table.table_grid {
	margin: 0.4em 0;
}
#sp_edit_page {
	margin: 0 auto;
}

#sp_manage_shoutboxes table.table_grid {
	margin: 0.4em 0;
}
#sp_edit_shoutbox {
	margin: 0 auto;
}
#sp_prune_shoutbox {
	width: 70%;
	margin: 0 auto;
}
#sp_prune_shoutbox dl.sp_form dt {
	width: 65%;
}
#sp_prune_shoutbox dl.sp_form dd {
	width: 34%;
}
#sp_shoutbox_redirect {
	margin: 0 auto;
	margin-top: 1em;
}
#sp_shoutbox_redirect div {
	font-size: 1.071em;
}
#sp_manage_profiles table.table_grid {
	margin: 0.4em 0;
}
#sp_edit_profile {
	width: 60%;
	margin: 0 auto;
}
#sp_edit_style_title, #sp_edit_style_body {
	width: 50%;
}
#sp_edit_style_title dt, #sp_edit_style_body dt {
	width: 45%;
}
#sp_edit_style_title dd, #sp_edit_style_body dd {
	width: 54%;
}

dl.sp_form {
	margin: 0;
	clear: right;
	overflow: auto;
}
dl.sp_form dt {
	font-weight: normal;
	float: left;
	clear: both;
	width: 31%;
	margin: 0.5em 0 0 0;
}
dl.sp_form dt strong {
	font-weight: bold;
}
dl.sp_form dt span {
	display: block;
}
dl.sp_form dd {
	float: left;
	width: 68%;
	margin: 0.5em 0 0 0;
}
dl.sp_form img, #sp_add_articles_list_header img {
	margin: 0 0.2em 0 0;
}
#sp_add_articles_list_header a img {
	position: relative;
	top: 2px;
}

.sp_button_container {
	text-align: center;
	padding-top: 1.5em;
}
#sp_rich_editor {
	padding-top: 1em;
    margin: 0 auto;
    max-width: 97%;
    width: 60em;
}
#sp_text_editor {
	padding: 1em;
}
#sp_text_editor textarea {
	width: 100%;
	padding: 0.4em;
}
#sp_text_editor input {
	float: right;
	margin-right: 2px;
}

#sp_view_comments {
  margin-top: 1em;
}
#category_description {
	width: 75%;
}

/* Drag sort block list, show the move cursor */
#sp_manage_blocks td:nth-child(-n+2) {
	cursor: move;
}

/* some jquery ui styles we may need */
.ui-state-highlight {
	height: 40px;
	cursor: move;
	border: 1px dashed #ccc;
	background-image: linear-gradient(to bottom, #fafafa, #fff);
}

/* jQuery Dialog Box */
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	border-collapse: collapse;
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	border-collapse: collapse;
	content: "";
	display: table;
}
.ui-dialog {
	padding: 0;
	z-index: 100;
	border: 1px solid #999;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
	border-radius: 4px 4px 0 0;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: 0.5em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0 1em;
	font-weight: bold;
	font-size: 1.071em;
	background-color: #fafafa;
	border-radius: 4px 4px 0 0;
}
.ui-dialog .ui-dialog-content {
	padding: 4px;
}
.ui-dialog .ui-dialog-titlebar-close {
	cursor: pointer;
	border: 0;
	float: right;
	width: 16px;
	height: 16px;
	margin: 0.7em 0;
	background: url(../images/buttons/delete.png) no-repeat scroll left center transparent;
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
	display: none;
}
.ui-widget-overlay {
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Upshrink image in the block headers */
.category_toggle {
	display: block;
	float: right;
	padding: 0 16px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
}
.category_toggle span {
	background-repeat: no-repeat;
	background-image: url(../images/_light/expcol.png);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -58px;
	padding: 47px 50px;
}


/* "dot" images as a sprite
------------------------------------------------- */
.dot:before {
	background-image: url(../images/sp/dots.png);
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 18px;
	width: 18px;
	padding-right: .25em;
	vertical-align: text-bottom;
}
/* formatting for compactness */
.dotdelete:before {background-position: 0 0;}
.dot1:before {background-position: 0 -18px;}
.dot2:before {background-position: 0 -36px;}
.dot3:before {background-position: 0 -54px;}
.dot4:before {background-position: 0 -72px;}
.dot5:before {background-position: 0 -90px;}
.dot6:before {background-position: 0 -108px;}
.dot7:before {background-position: 0 -126px;}
.dot8:before {background-position: 0 -144px;}
.dotrss:before {background-position: 0 -162px;}
.collapse:before {background-position: 0 -180px;}
.expand:before {background-position: 0 -198px;}
.arrow:before {background-position: 0 -216px;}
.portalstats:before {background-position: 0 -234px;}
.portalaverages:before {background-position: 0 -252px;}
.board:before {background-position: 0 -270px;}
.topic:before {background-position: 0 -288px;}
.post:before {background-position: 0 -306px;}
.event:before {background-position: 0 -324px;}
.holiday:before {background-position: 0 -342px;}
.birthday:before {background-position: 0 -360px;}
.admin:before {background-position: 0 -378px;}
.gmod:before {background-position: 0 -396px;}
.lmod:before {background-position: 0 -414px;}
.user:before {background-position: 0 -432px;}
.tux:before {background-position: 0 -450px;}
.attach:before {background-position: 0 -468px;}
.refresh:before {background-position: 0 -486px;}
.history:before {background-position: 0 -504px;}
.smiley:before {background-position: 0 -522px;}
.style:before {background-position: 0 -540px;}


/* Experimental media querys */
/*---------------------------*/
@media screen and (max-width: 32em)
{
	body {
		min-width: 100%;
	}
	#sp_left, #sp_right {
		position: absolute;
	}
	#sp_right {
		right: 0;
	}
	#sp_center {
		width: 100%;
	}
	#sp_collapse_side1, #sp_collapse_side2, #sp_collapse_side3, #sp_collapse_side4 {
		padding: 6px;
	}
}